<nav class="navbar navbar-expand-lg navbar-light " id="bg">
   <img src="assets/images/logoo.png" height="40" width="50" alt="Meal Deal" />
    <a class="navbar-brand marge" [routerLink]="['']" routerLinkActive="active">InstaFood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  offset-md-1" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!test" [routerLink]="['']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="!test"  [routerLink]="['login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!test" [routerLink]="['register']" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="test" [routerLink]="['view-all-meal']" routerLinkActive="active">Meals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="test" [routerLink]="['main']" routerLinkActive="active">Meals Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="test" [routerLink]="['view-meal-user']" routerLinkActive="active"> Your Meals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left" style="cursor:pointer" *ngIf="test" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

   
